* {
  padding: 0;
  margin: 0;
}

#MaxBox {
  width: 796.5px;
  height: 885px;
  background-color: cornsilk;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
}
#MaxBox * {
  box-sizing: border-box;
}

.line {
  width: 100%;
  height: 88.5px;
}
.lattice {
  width: 88.5px;
  height: 100%;
  float: left;
  position: relative;
  text-align: center;
  z-index: 1;
}
div.chess {
  width: 92%;
  height: 92%;
  /* border-radius: 50%; */
  position: absolute;
  /*border: 1px black solid;*/
  margin: 4%;
  overflow: hidden;
  background-size: cover;
}
.chess.chess-active {
  transform: scale(0.9);
}

div.chess.circle {
  background-image: url("/pieces/circle.png");
}

.lattice > div.chess ~ div {
  border-top: 1px red solid;
  border-left: 1px red solid;
  width: 50%;
  height: 50%;
  float: left;
  overflow: hidden;
}
.line:first-of-type > div.lattice > div.chess + div,
.line:first-of-type > div.lattice > div.chess ~ div:nth-of-type(3) {
  border-top: 0px;
  border-left: 0px;
}
.line:last-of-type > div.lattice > div:nth-of-type(3) ~ div {
  border-left: 0px;
}
.line > div.lattice:nth-of-type(1) > div.chess ~ div:nth-of-type(even) {
  border-left: 0px;
  border-top: 0;
}
.line > div.lattice:last-of-type > div.chess ~ div:nth-of-type(odd) {
  border-top: 0px;
}
.lattice > div.chess ~ div:nth-of-type(4) {
  border-left: 0;
}
.lattice > div.chess ~ div:nth-of-type(3) {
  border-top: 0;
}
.lattice > div.chess ~ div:nth-of-type(2) {
  border-top: 0;
  border-left: 0;
}
.line.river1 .lattice:first-of-type ~ div > div.chess ~ div:nth-of-type(5) {
  border-left: 0;
}
.line.river2 .lattice:first-of-type ~ div > div.chess ~ div:nth-of-type(3) {
  border-left: 0;
}
.line.river1 div.lattice:last-of-type > div.chess ~ div:nth-of-type(5) {
  border-left: 1px red solid;
}
.line.river2 div.lattice:last-of-type > div.chess ~ div:nth-of-type(3) {
  border-left: 1px red solid;
}

.boxCenter {
  position: absolute;
  width: 100%;
  top: 398px;
  font-size: 50px;
  height: 88.5px;
  z-index: 0;
}
.boxCenter > div {
  position: absolute;
  top: -60px;
}
.boxCenter > .boxCenterLeft {
  transform: rotate(90deg);
  left: 25%;
}
.boxCenter > .boxCenterRight {
  transform: rotate(270deg);
  right: 25%;
}

div.chessItme {
  border: 1px solid red;
  width: 70%;
  height: 70%;
  margin: 15%;
}
div.chessItme1 {
  border-left: 0;
  border-top: 0;
}
div.chessItme2 {
  border-right: 0;
  border-top: 0;
}
div.chessItme3 {
  border-left: 0;
  border-bottom: 0;
}
div.chessItme4 {
  border-right: 0;
  border-bottom: 0;
}
